# If you add anything to this file, then also consider adding it to .dockerignore.

/.git/
/.vs/

/out/

/CMakeFiles/
/CMakeSettings.json
/CMakeCache.txt

/build_*/
/install_*/
/testlogs-*/
/doc/

/src/XML/src-gen/

# Should not go in .dockerignore:
/ThirdParty/winflexbison/
